*
!Dockerfile.rootfs
!rootfs-overlay
!rootfs-overlay/**
!build-support/ffmpeg/build.sh
!build-support/mpv-ffmpeg
!build-support/mpv-ffmpeg/**
!build-support/wvkbd
!build-support/wvkbd/**
!build-support/fuzzel
!build-support/fuzzel/**
!build-support/trash/check-packages.py
!build-support/trash/install-image.py

!build-support/components
!build-support/components/**
!build-support/xwayland
!build-support/xwayland/**
!scripts/package-trash.py
