[Desktop Entry]
Type=Application
Name=Steam games
Comment=Launch installed games in native gamescope
Exec=/usr/local/bin/rocknix-games
Icon=applications-games
Categories=Game;
Terminal=false
